In [1]:
from pyspark.sql import SparkSession

In [2]:
spark = SparkSession.builder.appName('Dataframe').getOrCreate()

WARNING: Using incubator modules: jdk.incubator.vector
Using Spark's default log4j profile: org/apache/spark/log4j2-defaults.properties
Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).
25/08/02 16:49:15 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable
25/08/02 16:49:16 WARN Utils: Service 'SparkUI' could not bind on port 4040. Attempting port 4041.
25/08/02 16:49:16 WARN Utils: Service 'SparkUI' could not bind on port 4041. Attempting port 4042.

In [3]:
spark

In [6]:
df_s = spark.read.csv('test2.csv',header=True,inferSchema=True)

In [7]:
df_s.show()

+-------+----------+------+
|   Name|Department|Salary|
+-------+----------+------+
|  Sakai|        DS| 10000|
|  Sakai|       IOT| 20000|
|   John|        DS| 10000|
|Halbert|       SWE| 30000|
|   John|       SWE| 10000|
|  Sunny|        DE| 40000|
|  Sunny|       SWE| 30000|
|  Sunny|        DS| 45000|
|    Sam|       IOT| 20000|
+-------+----------+------+

In [ ]:
#count sum mean/avg() median max

In [12]:
df_s.groupBy('Name').max().show()

+-------+-----------+
|   Name|max(Salary)|
+-------+-----------+
|  Sunny|      45000|
|   John|      10000|
|Halbert|      30000|
|    Sam|      20000|
|  Sakai|      20000|
+-------+-----------+

In [10]:
df_s.groupBy('Department').mean().show()

+----------+------------------+
|Department|       avg(Salary)|
+----------+------------------+
|       IOT|           20000.0|
|        DE|           40000.0|
|        DS|21666.666666666668|
|       SWE|23333.333333333332|
+----------+------------------+

In [11]:
df_s.agg({'Salary':'sum'}).show()

+-----------+
|sum(Salary)|
+-----------+
|     215000|
+-----------+